.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body{
  background-color: azure;
}
.add_item_field{
  width: 50%;
  height: 30px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}

.add_field_container{
  width: 73%;
  display: flex;
  justify-content: center;
}
.add_button{
  height: 36px;
  width: 50px;
  background-color: transparent;
  margin-left: 20px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}