.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body{
  background-color: azure;
}
.add_item_field{
  width: 50%;
  height: 30px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}

.add_field_container{
  width: 73%;
  display: flex;
  justify-content: center;
}
.add_button{
  height: 36px;
  width: 50px;
  background-color: transparent;
  margin-left: 20px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}

.edit_button{
  height: 36px;
  width: 100px;
  margin-left: 5px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}

.delete_button{
  height: 36px;
  width: 100px;
  background-color: rgba(216, 79, 79, 0.311);
  margin-left: 5px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}
.complete_button{
  height: 36px;
  width: 100px;
  background-color: rgba(65, 234, 124, 0.457);
  margin-left: 5px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}
.incomplete_button{
  height: 36px;
  width: 100px;
  background-color: rgba(218, 135, 53, 0.691);
  margin-left: 5px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
  
}

.single_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 2px solid gray;
}
.single_item p {
  font-weight: bold
}

.list_container{
  margin-top: 30px;
  width: 60%;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.edit_list_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_list_inner{
  position: relative;
  padding: 30px;
  height: 200px;
  width: 100%;
  max-width: 640px;
  background-color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 77%;
}

.edit_field{
  width: 100%;
  height: 30px;
}

.confirm_button{
  height: 36px;
  width: 78px;
  background-color: greenyellow;
  margin-left: 20px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}

.cancel_button{
  height: 36px;
  width: 78px;
  background-color: rgba(216, 79, 79, 0.311);
  margin-left: 20px;
  border-radius: 5%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.626);
}